.tag {
  background: #FCFCFC;
  border: 1px solid #ECECEC;
  border-radius: 30px;
  color: #777;
  font-size: 11px;
  padding: 5px 15px;
  margin-right: 8px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .tag {
    padding: 3px 9px;
    margin-right: 6px;
  }

}