.searchbar {
    display: flex;
    margin: 10px 30px 0 30px;
    border: 2px solid #ECECEC;
    height: 52px;
    font-size: 14px;
}

.searchbar__iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-right: 1px solid #ECECEC;
}

.searchbar__icon {
    width: 26px;
}

.searchbar__inputbox {
    display: inline-block;
    padding: 1px 10px;
    width: 100%;
}

.searchbar__inputbox input {
    width: 100%;
    height: 48px;
    border: 0px;
}

.searchbar__inputbox input:focus{
    outline: none;
}