.cardscontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 30px 6px 30px;
    animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}